@layer reset, base, tokens, recipes, utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(10deg, #2c2c32, #3c3e44, #4d5256, #5d6668, #6e7977, #7f8b85, #909d93, #a3afa2);
}

a {
  text-decoration: none;
}
